/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


div .tooltip {
  position: absolute;
  text-align: center;
  width: 80px;
  height: 42px;
  padding: 2px;
  font: 12px sans-serif;
  background: #eee;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}
/*简介*/
.sumerary{
  padding-right: 15px;
  padding-left: 15px;
}
.sumerary .col-md-4{
  margin-bottom: 20px;
  text-align: center; 
}
@media (min-width: 768px) {  
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}
/*div设置id中间不能有空格*/
div#mapdiv{
  margin: 0 px;
  background-color: #ccccff;
  height: 918px;
}
div #global3Ddiv{
  margin: 10px;
  background-color:#FFFFCC;
  height:800px;
   -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #wholePropert{
  margin: 10px;
  height:800px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #wholePropert .row
{
  margin:10px;
}
div #wholePropert #col-4
{
  padding:5px;
}
div #wholePropert1{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert2{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert3{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert4{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert5{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert6{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert7{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert8{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholePropert9{
  height: 245px;
  border: 1px solid #bebebe;
  border-radius: 10px;
}
div #wholeNavPic{
  margin: 10px;
  background-color:#ccffff;
  height:800px;
   -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #heatmapcanvas{
    position:absolute;
    width:100%;
    height:100%;
}
div #pantool{
    position:absolute;
    width:50px;
    height:60%;
    left:20px;
    top:20px;
    opacity: 0.8;
}
div #pantool3d{
    position:absolute;
    width:100%;
}
div #rightpanel{
    position:absolute;
    height:20%;
    width:20%;
    top:-30px;
    right: -100px;
    background-color:#cccccc;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    opacity:0;
}
div #rightpanel:hover {
   opacity:0.8;
}
@media only screen and (max-width: 1920px) {
    div #rightpanel {
        height:20%;
        width:20%;
        top:0;
        left: 80%;
    }
    div #bottompanel {
        height:10%;
        width:100%;
        bottom: 0px;
    }
}
div #bottompanel{
  position:absolute;
  height:10%;
  width:100%;
  bottom:0px;
  background-color:#cccccc;
  -moz-box-sizing: border-box;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  opacity: 0;
}
div #bottompanel:hover {
  /*-webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);*/
  opacity:0.8;
}
div #bottompanel3d{
  position:absolute;
  height:8%;
  width:100%;
  bottom:0px;
  background-color:#cccccc;
  -moz-box-sizing: border-box;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  opacity: 0;
}
div #bottompanel3d:hover {
  /*-webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);*/
  opacity:0.8;
}
/*crossfilter*/
div #crossfilter {
  margin-top: 10px;
  width: 100%;
  height: 160px;
  font: 10px sans-serif;
  color: #000;
  bottom: 0px;
  background-color: white;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #date-chart {
  position: absolute;
  width: 30%;
}
div #hour-chart {
  position: absolute;
  width: 30%;
  left: 300px;
}
div #id-chart {
  position: absolute;
  width: 40%;
  left: 600px;
}
/*crossfilter*/

div #relations{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #relation2{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #property{
  margin-left: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #property2{
  margin-left: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #property3{
  margin-left: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #property4{
  margin-left: 10px;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}
div #eventstory{
   margin-top: 10px;
   padding-top: 10px;
   padding-right: 20px;
   -moz-box-sizing: border-box;
   border: 1px solid #bebebe;
   box-sizing: border-box;
}
div #eventstory1{
   margin-top: 10px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   -moz-box-sizing: border-box;
   border: 1px solid #bebebe;
   box-sizing: border-box;
}
div #eventstory2{
   margin-top: 10px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   -moz-box-sizing: border-box;
   border: 1px solid #bebebe;
   box-sizing: border-box;
}
div #eventstory3{
   margin-top: 10px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   -moz-box-sizing: border-box;
   border: 1px solid #bebebe;
   box-sizing: border-box;
}
div #eventstory4{
   margin-top: 10px;
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 20px;
   -moz-box-sizing: border-box;
   border: 1px solid #bebebe;
   box-sizing: border-box;
}
div #lableInfo {
  position: fixed;
  right: 0px;
  font: 20px sans-serif;
  opacity: .6;
  color: #FFF;
  background: rgba(42, 42, 42, 0.8);
  border-radius: 7px;
}